@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
  align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #6F0001;
}

.active {
  background-color: #00016F;
}

.button {
  background-color: #00016F; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 95%;
  border: 2px solid black
}

.button:hover {
  background-color: #6F0001; /* Red */
}

.socials {
	text-align: center;
}
